.header{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #ccc;
    z-index: 9;
    @media screen and (max-width: 600px){
        padding: 0 10px;
    }
    &-right{
        display: flex;
        align-items: center;
        @media screen and (max-width: 850px){
            display: none;
        }
    }
    &-user{
        display: none;
        @media screen and (max-width: 850px){
            display: block;
        }
        i {
            font-size: 23px;
        }
    }
    &-avatar{
        span{
            margin-left: 5px;
            font-size: 14px;
        }
    }
    &-signout{
        button{
            border: none;
            background-color: transparent;
            font-size: 23px;
            color: #4e4e4e;
            margin-left: 20px;
            cursor: pointer;
        }
    }
    &-left{
        display: flex;
        &-btn{
            font-size: 23px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}